# macOS-systemfiler
.DS_Store
**/.DS_Store
.AppleDouble

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular & Ionic
.angular/
.angular/cache
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
dist/
out-tsc/
tmp/
.bazel-out
coverage/
www/
.sourcemaps
.versions
libpeerconnection.log
testem.log
connect.lock
src/environments/environment*.ts

# Capacitor / Cordova
platforms/
plugins/

# Firebase
.firebase/
*.runtimeconfig.json
*-debug.log

# Editor-filer
.project
.classpath
.settings/
*.launch
*.sublime-project
*.sublime-workspace
.c9/
.history/*

# Test-snapshots (om du börjar med Jest)
__snapshots__/

# ESLint / Prettier / Husky
.eslintcache
.lintstagedrc
.husky/_/

# Återställningskataloger
$RECYCLE.BIN/
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
*~

# Nx / monorepo
.nx/
.nx/cache
.typings
.sass-cache/
