<ion-header>
  <ion-toolbar>
    <ion-title>Redigera program</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Avbryt</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-modal-content">
  <form [formGroup]="newWorkoutForm">
    <ion-item>
      <ion-label position="floating">Programnamn</ion-label>
      <ion-input
        formControlName="workoutName"
        [ngClass]="{
          'input-error':
            newWorkoutForm.get('workoutName')?.invalid &&
            newWorkoutForm.get('workoutName')?.touched,
        }"
      />
      <ion-text
        class="error-message"
        *ngIf="
          newWorkoutForm.get('workoutName')?.invalid && newWorkoutForm.get('workoutName')?.touched
        "
      >
        Programnamn krävs.
      </ion-text>
    </ion-item>
  </form>
  <ion-button class="btn ion-activatable ripple-parent" color="success" (click)="saveProgram()">
    program
    <ion-icon slot="start" name="checkmark" />
    <ion-ripple-effect />
  </ion-button>
</ion-content>
