@use 'tokens' as *;

:root {
  --ion-color-primary: #{$ion-color-primary};
  --ion-color-primary-rgb: #{$ion-color-primary-rgb};
  --ion-color-primary-contrast: #{$ion-color-primary-contrast};
  --ion-color-primary-contrast-rgb: #{$ion-color-primary-contrast-rgb};
  --ion-color-primary-shade: #{$ion-color-primary-shade};
  --ion-color-primary-tint: #{$ion-color-primary-tint};

  --ion-color-secondary: #{$ion-color-secondary};
  --ion-color-secondary-rgb: #{$ion-color-secondary-rgb};
  --ion-color-secondary-contrast: #{$ion-color-secondary-contrast};
  --ion-color-secondary-contrast-rgb: #{$ion-color-secondary-contrast-rgb};
  --ion-color-secondary-shade: #{$ion-color-secondary-shade};
  --ion-color-secondary-tint: #{$ion-color-secondary-tint};

  --ion-color-tertiary: #{$ion-color-tertiary};
  --ion-color-tertiary-rgb: #{$ion-color-tertiary-rgb};
  --ion-color-tertiary-contrast: #{$ion-color-tertiary-contrast};
  --ion-color-tertiary-contrast-rgb: #{$ion-color-tertiary-contrast-rgb};
  --ion-color-tertiary-shade: #{$ion-color-tertiary-shade};
  --ion-color-tertiary-tint: #{$ion-color-tertiary-tint};

  --ion-color-success: #{$ion-color-success};
  --ion-color-success-rgb: #{$ion-color-success-rgb};
  --ion-color-success-contrast: #{$ion-color-success-contrast};
  --ion-color-success-contrast-rgb: #{$ion-color-success-contrast-rgb};
  --ion-color-success-shade: #{$ion-color-success-shade};
  --ion-color-success-tint: #{$ion-color-success-tint};

  --ion-color-warning: #{$ion-color-warning};
  --ion-color-warning-rgb: #{$ion-color-warning-rgb};
  --ion-color-warning-contrast: #{$ion-color-warning-contrast};
  --ion-color-warning-contrast-rgb: #{$ion-color-warning-contrast-rgb};
  --ion-color-warning-shade: #{$ion-color-warning-shade};
  --ion-color-warning-tint: #{$ion-color-warning-tint};

  --ion-color-danger: #{$ion-color-danger};
  --ion-color-danger-rgb: #{$ion-color-danger-rgb};
  --ion-color-danger-contrast: #{$ion-color-danger-contrast};
  --ion-color-danger-contrast-rgb: #{$ion-color-danger-contrast-rgb};
  --ion-color-danger-shade: #{$ion-color-danger-shade};
  --ion-color-danger-tint: #{$ion-color-danger-tint};

  --ion-color-light: #{$ion-color-light};
  --ion-color-light-rgb: #{$ion-color-light-rgb};
  --ion-color-light-contrast: #{$ion-color-light-contrast};
  --ion-color-light-contrast-rgb: #{$ion-color-light-contrast-rgb};
  --ion-color-light-shade: #{$ion-color-light-shade};
  --ion-color-light-tint: #{$ion-color-light-tint};

  --ion-color-medium: #{$ion-color-medium};
  --ion-color-medium-rgb: #{$ion-color-medium-rgb};
  --ion-color-medium-contrast: #{$ion-color-medium-contrast};
  --ion-color-medium-contrast-rgb: #{$ion-color-medium-contrast-rgb};
  --ion-color-medium-shade: #{$ion-color-medium-shade};
  --ion-color-medium-tint: #{$ion-color-medium-tint};

  --ion-color-dark: #{$ion-color-dark};
  --ion-color-dark-rgb: #{$ion-color-dark-rgb};
  --ion-color-dark-contrast: #{$ion-color-dark-contrast};
  --ion-color-dark-contrast-rgb: #{$ion-color-dark-contrast-rgb};
  --ion-color-dark-shade: #{$ion-color-dark-shade};
  --ion-color-dark-tint: #{$ion-color-dark-tint};

  --ion-toolbar-background: var(--ion-color-primary);
  --ion-toolbar-color: var(--ion-color-primary-contrast);
}
