<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="hem" />
    </ion-buttons>

    <ion-title>Mina träningsprogram</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="workout-list-container">
    <ion-list>
      <div *ngFor="let workout of workouts()" class="workout-row">
        <div
          class="workout-item"
          (mouseenter)="setHint(workout.id, true)"
          (mouseleave)="setHint(workout.id, false)"
          (touchstart)="setHint(workout.id, true)"
          (touchend)="setHint(workout.id, false)"
          (click)="goToWorkout(workout.id)"
        >
          <ion-label>{{ workout.workoutName }}</ion-label>
          <ng-container *ngIf="workout?.id as id">
            <span class="item-hint" [class.visible]="hintMap[id]">Se passets detaljer</span>
          </ng-container>
        </div>

        <div class="workout-actions" (click)="$event.stopPropagation()">
          <div
            class="icon-with-label"
            (mouseenter)="setEyeHint(workout.id, true)"
            (mouseleave)="setEyeHint(workout.id, false)"
            (touchstart)="setEyeHint(workout.id, true)"
            (touchend)="setEyeHint(workout.id, false)"
            (click)="goToWorkout(workout.id)"
          >
            <ion-icon
              name="eye-outline"
              color="success"
              class="view-icon"
              aria-label="Visa pass"
              role="button"
              tabindex="0"
            />

            <ng-container *ngIf="workout?.id as id">
              <span class="icon-label" [class.visible]="eyeHintMap[id]">Öppna pass </span>
            </ng-container>
          </div>

          <app-delete-button
            [iconName]="'trash-outline'"
            [label]="'Radera pass'"
            (delete)="deleteWorkout(workout.id)"
          />
        </div>
      </div>
    </ion-list>
  </div>
</ion-content>
