<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="hem" />
    </ion-buttons>

    <ion-title>Mina träningsprogram</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <div *ngFor="let workout of workouts()" class="workout-row">
      <!-- Navigerbart item -->
      <ion-item button (click)="goToWorkout(workout.id)">
        <ion-icon slot="start" name="fitness" />
        <ion-label>{{ workout.workoutName }}</ion-label>
      </ion-item>

      <!-- Raderingsknapp utanför ion-item -->
      <div class="delete-button-wrapper" (click)="$event.stopPropagation()">
        <app-delete-button (delete)="deleteWorkout(workout.id)" />
      </div>
    </div>
  </ion-list>
</ion-content>
