/* ion-back-button {
  text-transform: none;
  font-size: 1rem; // Justera om du vill ha annan storlek
  font-weight: 500; // Eller vad som passar din design
}
ion-back-button {
  text-transform: none;
  color: #ffffff;
  padding-left: 6px;
}
 */
