@use '../variables' as *;

.input-error {
  border: 1px solid var(--ion-color-danger);
  background-color: #ffe6e6;
}

.error-message {
  color: var(--ion-color-danger);
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
