@use '../variables' as *;

// 🔹 Höjdvariationer
$modal-heights: (
  h-sm: 120px,
  h-md: 200px,
  h-lg: 360px,
);

// 🔹 Färgvariationer
$modal-colors: (
  c-primary: #cdf030,
  c-accent: #ffe4b5,
  c-warning: #ff6347,
);

// 🔄 Generera höjdklasser
@each $name, $height in $modal-heights {
  ion-modal.#{$name}::part(content) {
    height: $height;
    max-height: $height;
    /* border-radius: 0.5rem;
    padding: 1rem; */
  }
}

// 🔄 Generera färgklasser
@each $name, $color in $modal-colors {
  ion-modal.#{$name}::part(content) {
    background: transparent;
  }
}

// 🔹 Baslayout (gäller alla modaler)
ion-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  --border-radius: 0.3rem;
}

// 🔹 Mörk backdrop
ion-modal::part(backdrop) {
  background-color: rgba(0, 0, 0, 0.95);
}
ion-modal::part(content) {
  width: 100%;
  max-width: 480px;
}

@media (max-width: 500px) {
  ion-modal::part(content) {
    max-width: 90vw;
  }

  .modal-body {
    margin: 0.5rem;
    padding: 0.5rem;
  }
}
