<ion-toolbar>
  <ion-title>Välkommen</ion-title>
</ion-toolbar>
<ion-content class="ion-padding">
  <div *ngIf="!networkStatus()" class="offline-banner">
    <ion-icon name="cloud-offline-outline" />
    <span>Offline-läge aktiv</span>
  </div>

  <svg viewBox="0 0 500 200" width="100%" height="150" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <!-- Kurvad path -->
      <path id="curve" d="M50,150 Q250,111 450,150" fill="transparent" />

      <!-- Gradient: Mörk orange → basketorange → ljusgul -->
      <linearGradient id="textGradient" x1="0%" y1="0%" x2="100%" y2="0%">
        <stop offset="0%" stop-color="#b34700" />
        <stop offset="50%" stop-color="#fa8320" />
        <stop offset="100%" stop-color="#ffd580" />
      </linearGradient>
    </defs>

    <text
      font-size="37"
      font-weight="bold"
      text-anchor="middle"
      fill="url(#textGradient)"
      stroke="#000"
      stroke-width="1"
    >
      <textPath href="#curve" startOffset="50%">Styrketräningsprogram</textPath>
    </text>
  </svg>
  <div class="image-container">
    <ion-img src="assets/images/gym.webp" alt="foto från gym" />
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Din träning väntar – gör ditt val</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button
        class="btn ion-activatable ripple-parent resume"
        expand="block"
        *ngIf="lastVisitedUrl()"
        [routerLink]="[lastVisitedUrl()]"
      >
        Fortsätt där du slutade
        <ion-icon slot="end" name="play" />
        <ion-ripple-effect />
      </ion-button>
      <ion-button class="btn ion-activatable ripple-parent create" expand="block">
        <ion-icon slot="end" name="document-text" />
        Skapa träningspass
      </ion-button>
      <ion-button
        class="btn ion-activatable ripple-parent list"
        expand="block"
        [routerLink]="['/workout-list']"
      >
        Mina träningsprogram
        <ion-icon slot="end" name="list" />
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-toast
    id="programSavedToast"
    message="Program tillagt!"
    duration="1500"
    position="middle"
    trigger="showToastTrigger"
    class="green-toast"
  />
</ion-content>
