<ion-toolbar>
  <ion-title>Välkommen</ion-title>
</ion-toolbar>
<ion-content class="ion-padding">
  <svg viewBox="0 0 500 200" width="100%" height="150" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <!-- Kurvad path -->
      <path id="curve" d="M50,150 Q250,111 450,150" fill="transparent" />

      <!-- Gradient: Mörk orange → basketorange → ljusgul -->
      <linearGradient id="textGradient" x1="0%" y1="0%" x2="100%" y2="0%">
        <stop offset="0%" stop-color="#b34700" />
        <stop offset="50%" stop-color="#fa8320" />
        <stop offset="100%" stop-color="#ffd580" />
      </linearGradient>
    </defs>

    <text
      font-size="37"
      font-weight="bold"
      text-anchor="middle"
      fill="url(#textGradient)"
      stroke="#000"
      stroke-width="1"
    >
      <textPath href="#curve" startOffset="50%">Styrketräningsprogram</textPath>
    </text>
  </svg>
  <div class="image-container">
    <ion-img src="assets/images/gym.webp" alt="foto från gym" />
  </div>

  <div class="btn-container">
    <!-- LÄGG TILL  (green, success) -->
    <ion-button class="btn ion-activatable ripple-parent" color="success" (click)="openAddModal()">
      workout
      <ion-icon slot="start" name="add" />
      <ion-ripple-effect />
    </ion-button>

    <!-- VISA LISTA (custom blue #99b3ea you named “lista”) -->
    <ion-button
      class="btn ion-activatable ripple-parent"
      color="lista"
      [routerLink]="['/workouts']"
    >
      Visa
      <ion-icon slot="end" name="list" />
      <ion-ripple-effect />
    </ion-button>
  </div>
</ion-content>
