.greetings {
  margin-top: 2rem;
  text-align: center;
  padding: 1rem;
  border-radius: 8px;

  svg {
    width: 100%;
    max-width: 500px;
    height: auto;
  }
}

ion-content {
  background: var(--app-background) !important;
}
