<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Träningsprogram </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="success">Spara</ion-button>
  <div>
    <ion-button (click)="toggleMeddelanden()">
      {{ visaMeddelanden() ? 'Dölj meddelanden' : 'Visa meddelanden' }}
    </ion-button>

    <app-message-list *ngIf="visaMeddelanden()"></app-message-list>
  </div>
  <div class="btns">
    <ion-button size="small" (click)="toggleMeddelanden()">
      {{ visaMeddelanden() ? 'Dölj meddelanden' : 'Visa meddelanden' }}
      <ion-icon slot="end" name="eye"></ion-icon>
    </ion-button>

    <ion-button color="success" size="small">
      <ion-icon slot="start" name="add"></ion-icon>
      Left Icon
    </ion-button>
  </div>
</ion-content>
