<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Träningsprogram </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="workoutService.workouts().length > 0; else noWorkouts">
    <ion-list>
      <ion-item *ngFor="let workout of workoutService.workouts()">
        <p>{{workout.exerciseName}}</p>
        <ion-button fill="clear" (click)="delete(workout.id)">
          <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="openNewSet(workout.id)"
          >Ny set</ion-button
        >

        <!--  <ion-button fill="clear">
          <ion-icon
            slot="icon-only"
            name="checkmark"
            color="success"
          ></ion-icon>
        </ion-button> -->
      </ion-item>
    </ion-list>
  </ng-container>
  <div>
    <ion-button color="primary" (click)="openNewExercise()"
      >Lägg till ny övning</ion-button
    >
  </div>
  <ng-template #noWorkouts>
    <div class="no-workouts">
      <p>Hittar inga övningar</p>
      <ion-button color="primary" (click)="openNewExercise()"
        >Lägg till ny övning</ion-button
      >
    </div>
  </ng-template>
</ion-content>
