<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/']">hem</ion-button>
    </ion-buttons>
    <ion-title>Listan med Workouts</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openAddModal()">nytt program</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div class="workout-container" *ngFor="let workout of programs()">
      <span class="workout-name">{{ workout.workoutName }}</span>
      <div class="button-group">
        <app-delete-button (delete)="deleteWorkout(workout.id)" />
        <ion-button fill="clear" size="small" (click)="openAddModal()">
          <ion-icon name="add" slot="icon-only" />
        </ion-button>
      </div>
    </div>
  </ion-list>
</ion-content>
