<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/']">hem</ion-button>
    </ion-buttons>
    <ion-title>Workouts</ion-title>
    <ion-buttons slot="end">
      <ion-button>add</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Listan med Workouts</h2>
  <ion-list>
    <ion-item *ngFor="let workout of programs()">
      <p>id: {{workout.id}}</p>
      <p>namn: {{workout.workoutName}}</p>
      <p>skapad: {{workout.createdAt}}</p>
      <ion-button fill="outline" color="danger" (click)="deleteWorkout(workout.id)" />
    </ion-item>
  </ion-list>
</ion-content>
